@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ChristmasBell";
  src: url("ChristmasBell.otf");
}

@font-face {
  font-family: "Clouts";
  src: url("Clouts!.ttf");
}

* {
  margin: 0;
  padding: 0;
}

/* .christmas-bell {
  font-family: ChristmasBell;
} */
