@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChristmasBell';
  src: url('ChristmasBell.otf');
}

@font-face {
  font-family: 'Clouts';
  src: url('Clouts!.ttf');
}

/* .christmas-bell {
  font-family: ChristmasBell;
} */

